.root {

    -fx-font-family: 'Tahoma', Arial, sans-serif;
    -fx-text-fill: white;
}
.ellipse {

    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}
.nums {

    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #181A18;

}

.topLabel {

    -fx-font-size: 66px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.whiteLabel {

    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.blackLabel {

    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #181A18;
}
.scrollPane {

    -fx-background-color: transparent;
    -fx-background: transparent;
}
.question {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #181A18;
}
.secondText {
     -fx-font-size: 25px;
     -fx-font-weight: bold;
     -fx-text-fill: #181A18;
 }
 .submitButton {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 70,1,2,3;
    -fx-background-radius: 10;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold
}
.submitButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
 }
.toggleButtons {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        #789cc7,
        #5377a1,
        #789cc7,
        #5377a1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.toggleButtons:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #789cc7 0%, #3d5878 100%),
        #5377a1,
        #789cc7,
        #789cc7;
}
.toggleButtons:selected {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-background-color:
        #5377a1,
        #3d5878,
        #5377a1,
        #3d5878;
}
.toggleButtons Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
.primaryDark {

    -fx-background-color: #3d5878;
}
.primaryLight {

    -fx-background-color: #789cc7;
}
.primary {

    -fx-background-color: #5377a1;
}
.whiteLabels {

    -fx-font-size: 19px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.blackLabels {

    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.warning {

    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.error {

    -fx-text-fill: red;
    -fx-font-weight: bold;
}